<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was a great guy. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Proin hendrerit augue in fringilla mattis. Morbi et ligula a nibh suscipit
  tincidunt in id lectus. Etiam eget massa at felis condimentum scelerisque et
  vitae risus. Quisque blandit a mi sed gravida. Sed lacinia mauris lectus, ac
  sollicitudin ipsum accumsan nec. Sed pharetra est in nibh hendrerit, in
  iaculis arcu suscipit. Suspendisse ullamcorper vitae dolor vel vulputate.
  Nulla mattis, metus ut facilisis pulvinar, libero lectus lobortis nulla, eget
  pulvinar velit metus quis nulla. Maecenas dui enim, ultrices et molestie sit
  amet, efficitur dignissim nulla. Maecenas dictum orci sed cursus dignissim.
  Vestibulum ultrices blandit scelerisque. Curabitur pharetra convallis dignissim.</p>
  <p>Aliquam venenatis metus id felis dignissim, ac posuere nibh condimentum.
    Cras id ante ultricies, vulputate lectus rutrum, pretium nisl. Praesent
    turpis lorem, volutpat vel dolor ac, vestibulum imperdiet diam. Proin non
    efficitur augue, vel porttitor nunc.</p>
